<h1>All categories</h1>

<ul id="categories">
  <% @categories.each do |category| %>
    <li>
      <%= link_to category.name, category_path(category) %>
      <%= link_to "Edit", edit_category_path(category) %>
      <%= link_to "Del", category_path(category), method: :delete, data: {confirm: "Are you sure?"}  %>
      
    </li>
  <% end %>
</ul>

<%= form_for(@category) do |f| %>
  <ul>
  <% @category.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <p>
    <%= f.label :name, "New category" %>
    <%= f.text_field :name %>
    <%= f.submit %>
  </p>
<% end %>
