<!DOCTYPE html>
<html>
<head>
  <title>Myblog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="banner">
    <%= image_tag("logo.png") %>
    <%= @page_title || "Welcome to my blog" %>
  </div>

  <div id="columns">
    <div id="side">
      <%= button_to 'Home', posts_path, method: :get %>
      <div id="login_system">
        <% if session[:user_id] || session[:author_id] %>
          <% if session[:user_id] && User.find_by_id(session[:user_id]) %>
            <p>Logged in as user, <b><%= User.find_by_id(session[:user_id]).name %></b> </p>
            <%= button_to 'Edit your info', user_verify_path(session[:user_id]), method: :get %>
            <%= button_to 'Withdraw', user_verify_path(session[:user_id]), method: :get %>

          <% elsif session[:author_id] && Author.find_by_id(session[:author_id])%>
            <p>Logged in as author, <b><%= Author.find_by_id(session[:author_id]).author %></b> </p>
            <%= button_to 'Edit author', authors_path, method: :get %>
          <% end %>
          <%= button_to 'Logout', logout_path, method: :delete %>

        <% else %>
          <%= button_to 'Login', login_path %>
          <%= button_to 'Join', new_user_path, method: :get %>
        <% end %>
        <br>
      </div>

      <ul id="categories">
        <h4>Categories</h4>
        <% Category.all.sort.each do |category| %>
          <li><%= link_to category.name, category_path(category) %></li>
        <% end %>
      </ul>
      <% if session[:author_id] %>
        <%= button_to 'make a new post', new_post_path, method: :get %>
        <%= button_to 'manage users', users_path, method: :get %>
        <%= button_to 'manage category', categories_path, method: :get %>
      <% end %>

	</div>

	<div id="main">
    <% if flash[:alert] %>
      <p id="notice"><%= flash[:alert] %></p>
    <% end %>

	  <%= yield %>
	</div>

  </div>
</body>
</html>
